<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Liste Appel</h5>
        <table class="table table-bordered border-Info text-center">
          <thead>
            <tr>
              <th scope="col">Projet</th>
              <th scope="col">Localisation</th>
              <th scope="col">Numero Tel</th>
              <th scope="col">Objet de l'appel</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appels of appel"  class="table-{{ appels.projet.couleur }}">
              <th scope="row"><a href="">{{ appels.projet.nomProjet }}</a></th>
              <td>
                <div class="row">
                  <div class="col-lg-6">Region</div>
                  <div class="col-lg-6">{{ appels.region.nomRegion }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-6">Distrique</div>
                  <div class="col-lg-6">{{ appels.distrique.nomDistrique }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-6">Commune</div>
                  <div class="col-lg-6">{{ appels.distrique.commune }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-6">Fokotany</div>
                  <div class="col-lg-6">{{ appels.distrique.fokotany }}</div>
                </div>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="appelItem.numeroAppelant" value="{{ appels.numeroAppelant }}"></td>
              <td><textarea class="form-control" style="height: 100px" [(ngModel)]="appelItem.resumeAppel"> {{ appels.resumeAppel }} </textarea></td>
              <td>
                <div class="row mt-2">
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="updateAppel(appels.idAppel)">
                      <i class="bi bi-pencil-square"></i>Modifier
                    </button>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteAppel(appels.idAppel)">
                      <i class="bi bi-archive"></i>Supprimer
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>