<div class="pagetitle">
  <h1>Statistique</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Graphe</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">

    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pourcentage des demande repondu/non</h5>

          <!-- Line Chart -->
          <canvas id="appels"></canvas>

          <!-- End Line CHart -->

        </div>
      </div>
    </div>

  </div>
</section>