<div class="pagetitle">
  <h1>Repondre</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">List</li>
      <li class="breadcrumb-item">Reponse</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Information Reponse</h5>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Sujet</label>
            <div class="col-sm-10">
              <textarea class="form-control" disabled>
                  {{ resumer }}
                </textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="row">
                <label for="inputText" class="col-sm-4 col-form-label">Intervention</label>
                <div class="col-sm-8">
                  <input [(ngModel)]="intervention" [ngModelOptions]="{ standalone: true }" type="text"
                    class="form-control" placeholder="text....">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label for="inputText" class="col-sm-4 col-form-label">Constat Resolution</label>
                <div class="col-sm-8">
                  <input [(ngModel)]="constatResolution" [ngModelOptions]="{ standalone: true }" type="text"
                    class="form-control" placeholder="text....">
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <div class="row">
                <label for="inputText" class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                  <select [(ngModel)]="idStatus" [ngModelOptions]="{ standalone: true }" class="form-select"
                    aria-label="Default select example">
                    <option selected>Selectionner Status</option>
                    <option value="1">En cours</option>
                    <option value="2">Terminé</option>
                    <option value="3">En attente</option>
                    <option value="3">Annulé</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <label for="inputText" class="col-sm-4 col-form-label">Reponse</label>
                <div class="col-sm-8">
                  <textarea [(ngModel)]="reponse" [ngModelOptions]="{ standalone: true }"
                    class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>



  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
      <div class="d-grid gap-2 mt-3">
        <button (click)="reponseEnvoyer()" class="btn btn-outline-success" type="button">
          <i class="bi bi-check-circle"></i>Repondre
        </button>
      </div>
    </div>
  </div>

</section>